@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scrollbar-track-light: #f0f0f0; /* Color de fondo para modo claro */
  --scrollbar-thumb-light: #c0c0c0; /* Color del pulgar para modo claro */
  --scrollbar-hover-light: #a0a0a0; /* Color al pasar el mouse para modo claro */
  --scrollbar-track-dark: #1d1d1d; /* Color de fondo para modo oscuro */
  --scrollbar-thumb-dark: #69696970; /* Color del pulgar para modo oscuro */
  --scrollbar-hover-dark: #ffffff80; /* Color al pasar el mouse para modo oscuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo de la barra de desplazamiento en modo claro */
body:not(.dark-mode) ::-webkit-scrollbar-track {
  background: var(--scrollbar-track-light); /* Color de fondo */
}

body:not(.dark-mode) ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-light); /* Color del pulgar */
  border-radius: 4px; /* Borde redondeado */
}

body:not(.dark-mode) ::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-light); /* Color al pasar el mouse */
}

/* Estilo de la barra de desplazamiento en modo oscuro */
body.dark-mode ::-webkit-scrollbar-track {
  background: var(--scrollbar-track-dark); /* Color de fondo */
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-dark); /* Color del pulgar */
  border-radius: 4px; /* Borde redondeado */
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-dark); /* Color al pasar el mouse */
}

.prose iframe {
  max-width: 100%;
  max-height: 27.5rem;
}

.proseSmall iframe {
  max-height: 10rem;
  max-width: 100%;
}
